
<html>
<head><title>Liberação de acesso</title></head>
<body>
	<form action="/gerarcodigo" method="POST">
	<center></center><div class="mb-3">
	<label for="exampleFormControlInput1" class="form-label">Usuário do rocket</label><br><br>
	<input type="text" class="form-control" id="usuario" placeholder="meu.usuario" name="usuario">
	</div></center><br>
	<button type="submit" class="btn btn-primary">Receber Código</button>
	</form>
</body>
</html>
